<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;500&display=swap" rel="stylesheet">
    <title>aeternam</title>

</head>
<header>
    <h1 id="title">aeternam</h1>
    <p id="title_tag">Que vos souvenirs vivent ad vitam aeternam !</p>
</header>
<body>

<div id="input_form">
    <form action="http://127.0.0.1:5000/colorize" method = "POST"
          enctype = "multipart/form-data">
        <input id= "input_file" type = "file" name = "file" accept=".jpg, .jpeg, .png" />
        <input type = "submit"/>
    </form>
</div>
<img src="data:image/png;base64,{{ file }}">
</body>
</html>